<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../images/h20.ico" />
	<link rel="stylesheet" type="text/css" href="../style.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projects</title>
	<script type="text/javascript">
		function myEmail(){
			alert("Contact me: henry2onedev@gmail.com");
		}
	</script>
</head>
<body>

	<div class="menu">
		<nav>
			<ul class="nav-bar">
				<li class="logo"><a href="#"><img src="../images/h20.png" alt="logo"></a></li>
				<input type="checkbox" id="check">
				<span class="menu-items">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../views/projects.html">Projects</a></li>
					<li><a href="../views/contact.html">Contact</a></li>
					<label for="check" class="close-menu"><i class='fas fa-times'></i></label>
				</span>
				<label for="check" class="open-menu"><i class='fas fa-bars'></i></label>
			</ul>
		</nav>
	</div>

	<div class="contact_section1">
		<div>
			<ul>
				
				<li>
					<a href="https://mx.linkedin.com/in/luis-enrique-ruiz-sánchez-725325205?trk=people-guest_people_search-card" target="_blank">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fa fa-linkedin"></span>
					</a>
				</li>

				<li>
					<a href="https://github.com/Henry2One" target="_blank">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fa fa-github"></span>
					</a>
				</li>

				<li>
					<a href="" onclick="myEmail();">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fa fa-google"></span>
					</a>
				</li>

				<li>
					<a href="https://www.facebook.com" target="_blank">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fa-brands fa-facebook-f"></span>
					</a>
				</li>

				<li>
					<a href="https://www.instagram.com" target="_blank">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span class="fa fa-instagram"></span>
					</a>
				</li>
			</ul>
		</div>

		<div class="contactMe">
			<h1>
				<span>C</span>
				<span>O</span>
				<span>N</span>
				<span>T</span>
				<span>A</span>
				<span>C</span>
				<span>T</span>
				<span>&nbsp;</span>
				<span>M</span>
				<span>E</span>
			</h1>
		</div>
		

	</div>

	<footer>
		
		<i class="f_varRes">if&nbsp;</i> <i class="f_opeRes">(</i>&nbsp;today<i class="f_opeRes">.</i>self&nbsp;<i class="f_opeRes">></i>&nbsp;yesterdar<i class="f_opeRes">.</i>self&nbsp;<i class="f_opeRes">)</i><br>
		<i class="f_varRes">print</i>&nbsp;<i class="f_opeRes">(</i><i class="f_opeCom">"</i>You are on the right path<i class="f_opeCom">"</i><i class="f_opeRes">)</i>

	</footer>
	<script src="https://kit.fontawesome.com/95fb1e5659.js" crossorigin="anonymous"></script>
</body>
</html>