<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../images/h20.ico" />
	<link rel="stylesheet" type="text/css" href="../style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projects</title>
</head>
<body>

	<div class="menu">
		<nav>
			<ul class="nav-bar">
				<li class="logo"><a href="#"><img src="../images/h20.png" alt="logo"></a></li>
				<input type="checkbox" id="check">
				<span class="menu-items">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../views/projects.html">Projects</a></li>
					<li><a href="../views/contact.html">Contact</a></li>
					<label for="check" class="close-menu"><i class='fas fa-times'></i></label>
				</span>
				<label for="check" class="open-menu"><i class='fas fa-bars'></i></label>
			</ul>
		</nav>
	</div>

	<div class="projects_section1">

		<div class="container_carousel">

			<div class="slider_carousel">
				<span style="--iimgcarousel:1;"><img src="../images/NodeJsFirst1.png"></span>

				<span style="--iimgcarousel:2;"><img src="../images/NodeJsFirst2.png"></span>

				<span style="--iimgcarousel:3;"><img src="../images/NodeJsFirst3.png"></span>

				<span style="--iimgcarousel:4;"><img src="../images/NodeJsFirst1.png"></span>

				<span style="--iimgcarousel:5;"><img src="../images/NodeJsFirst4.png"></span>
			</div>

		</div>

		<div class="info_carousel">
			<div>
				<h2>NodeJS Web</h2><br>
				<span>Responsive created with node js, express, bootstrap 5.<br><br> Repository: <a href="https://github.com/Henry2One/node-js-first-web" target="_blank">GitHub NodeJS Web</a></span>
			</div>
		</div>

	</div>

	<div class="projects_section2">

		<div>
			<div>
				<h2>NodeJS + React + Mongo</h2><br>
			</div>
			<div>
				<span>Task manager web Fulls stack app. Repository: <a href="https://github.com/Henry2One/FullStack-NodeJS-React-MongoDB" target="_blank">GitHub Full Stack App React</a></span>
			</div>
		</div>

		<div>

			<section></section>
			<!--<img src="../images/ReactNodejsMongo.jpeg">-->
			
		</div>

	</div>

	<footer>
		
		<i class="f_varRes">if&nbsp;</i> <i class="f_opeRes">(</i>&nbsp;today<i class="f_opeRes">.</i>self&nbsp;<i class="f_opeRes">></i>&nbsp;yesterdar<i class="f_opeRes">.</i>self&nbsp;<i class="f_opeRes">)</i><br>
		<i class="f_varRes">print</i>&nbsp;<i class="f_opeRes">(</i><i class="f_opeCom">"</i>You are on the right path<i class="f_opeCom">"</i><i class="f_opeRes">)</i>

	</footer>

</body>
</html>