<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Projects</title>
</head>
<body>

	<div class="menu">
		<nav>
			<ul class="nav-bar">
				<li class="logo"><a href="#"><img src="http://drive.google.com/uc?export=view&id=1mvx-ueHaGLI3TrH5ee7BNt626zfMf-pU" alt="logo"></a></li>
				<input type="checkbox" id="check">
				<span class="menu-items">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../views/projects.html">Projects</a></li>
					<li><a href="#">Contact</a></li>
					<label for="check" class="close-menu"><i class='fas fa-times'></i></label>
				</span>
				<label for="check" class="open-menu"><i class='fas fa-bars'></i></label>
			</ul>
		</nav>
	</div>

	<div class="projects_section1">

		<div class="container_carousel">

			<div class="slider_carousel">
				<span style="--iimgcarousel:1;"><img src="http://drive.google.com/uc?export=view&id=1TTp-ZkTyv7AYkZNuP9Tw3PhuKT__GMe1"></span>

				<span style="--iimgcarousel:2;"><img src="http://drive.google.com/uc?export=view&id=124oiSj9EVya2YJmQ3WQiozZQcoBA-QLP"></span>

				<span style="--iimgcarousel:3;"><img src="http://drive.google.com/uc?export=view&id=1cH_K-KGPSfnk4_t_4XvKhmkJhxFvWy1K"></span>

				<span style="--iimgcarousel:4;"><img src="http://drive.google.com/uc?export=view&id=1TTp-ZkTyv7AYkZNuP9Tw3PhuKT__GMe1"></span>

				<span style="--iimgcarousel:5;"><img src="http://drive.google.com/uc?export=view&id=1D4kXUjqioWxrurQZexB8KGpQRI_p2Cyk"></span>
			</div>

		</div>

		<div class="info_carousel">
			<div>
				<h2>NodeJS Web</h2><br>
				<span>Responsive created with node js, express, bootstrap 5.<br><br> Repository: <a href="https://github.com/Henry2One/node-js-first-web" target="_blank">GitHub NodeJS Web</a></span>
			</div>
		</div>
		<!--<img src="http://drive.google.com/uc?export=view&id=1TTp-ZkTyv7AYkZNuP9Tw3PhuKT__GMe1">-->
	</div>

	<footer>
		
		<i class="f_varRes">if&nbsp;</i> <i class="f_opeRes">(</i>&nbsp;today<i class="f_opeRes">.</i>self&nbsp;<i class="f_opeRes">></i>&nbsp;yesterdar<i class="f_opeRes">.</i>self&nbsp;<i class="f_opeRes">)</i><br>
		<i class="f_varRes">print</i>&nbsp;<i class="f_opeRes">(</i><i class="f_opeCom">"</i>You are on the right path<i class="f_opeCom">"</i><i class="f_opeRes">)</i>

	</footer>

</body>
</html>